*{
	background-color: #1a2228;
	color: white;
	font-family: 'Raleway', sans-serif;
}
.container-fluid .row{
	margin-top: 10px;
	margin-left: 10px;
}
.container-fluid .row li{
	margin-top: 40px;
	border:1px solid #1a2228;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	transition: 0.3s;
}
.container-fluid .row li a{
	list-style: none;
	text-decoration: none;
	color: white;

}
.container-fluid .row li a:hover{
	color: rgb(227, 252, 6);
	font-size: 13px;
}
.about{
	text-align: justify;
	font-size: 17px;
}
.about .image{
	margin-left: 70px;
}
.contact-us button{
	background-color: black;
	color: white;
	padding: 5px 10px;
	transition: 0.3s;
	border: 1px solid black;
	border-radius: 5px;
}
.contact-us button:hover{
	background-color: white;
	color: black;
}
.contact-us form{
	text-align: center;
}
.contact-us form input{
	border-radius: 5px;
	box-shadow: 0 0 10px 1px black;
}
.contact-us .contact{

	text-align: center;
}
.contact-us .contact p{
	font-size: 13px;
    	text-align: center;
}
.img{
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 10px 3px black;
}
